{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('commentaire_admin/_form.html.twig') }}

    <a href="{{ path('app_commentaire_admin_index') }}">back to list</a>
{% endblock %}
