{% extends 'layout/admin.html.twig' %}

{% block title %}Démarrer{% endblock %}

{% block pageTitle %}
Bienvenue sur le tableau de bord !
{% endblock %}

{% block body %}
<ul class="nav mt-5 justify-content-around">
  <li class="nav-item">
    <a class="nav-link p-3 bg-light link-teal rounded-lg shadow" href="{{ path('admin_activite_index') }}">
      <div class="mx-5 my-4 d-flex flex-column align-items-center">
        <i class="fas fa-calendar-days fa-5x"></i>
        <div class="my-3 d-flex align-items-center">
          <span>Gérer les activités</span>
        </div>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-3 bg-light link-teal rounded-lg shadow" href="#">
      <div class="mx-5 my-4 d-flex flex-column align-items-center">
        <i class="fa-solid fa-users fa-5x"></i>
        <div class="my-3 d-flex align-items-center">
          <span>Gérer les utilisateurs</span>
        </div>
      </div>
    </a>
  </li>
</ul>
{% endblock %}