<h3 class="bg-dark text-white text-center px-3 pt-3 pb-1">Entités</h3>
<ul class="nav flex-column">
{% for entityName in allEntities %}
<li class="nav-item">
  <a class="nav-link" href="#">{{ entityName }}</a>
</li>
{% endfor %}
</ul>