{% extends 'base.html.twig' %}

{% block title %}New Activite{% endblock %}

{% block body %}
    <h1>Create new Activite</h1>

    {{ include('site/activite/_form.html.twig') }}

    <a href="{{ path('app_site_activite_index') }}">back to list</a>
{% endblock %}
